
@tailwind base;
@tailwind components;
@tailwind utilities;

/* minimal global styles */
html,body{margin:0;padding:0;background:#ffffff;color:#0b1728;font-family:Inter,system-ui,-apple-system,Roboto}
